@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: #000;
  font-size: 16px;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

input,
button,
select {
  font: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
